#slideshow-container {
    width: 800px;
    height: 512px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 2s ease-in-out;
}


.slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* 팝업 스타일 */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .popup-content {
    flex-direction: row;
    background-color: #fff;
    width: 150%;
    max-width: 1400px;
    height: 800px;
    max-height: 800px;
    overflow-y: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 400px 800px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .popup-header {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .popup-body {
    flex: 1;
  }
  
  .close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #333;
    border: none;
    background: none;
    outline: none;
  }
  
  /* 팝업 버튼 스타일 */
  .popup-btn {
    cursor: pointer;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    outline: none;
  }
