#logoImage {
  width: 300px; 
  height: auto; /* 가로폭을 유지한 채 비율에 맞게 높이 조절 */
  display: block; /* 인라인 요소로 설정하여 여백 및 정렬을 적용*/
  margin-bottom: 20px; /* 이미지 아래 여백 설정 */
  margin: 0 auto; 
}

#slideshow-container {
    width: 800px;
    height: 512px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 2s ease-in-out;
}


.slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* 팝업 스타일 */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .popup-content {
    flex-direction: row;
    background-color: #fff;
    width: 150%;
    max-width: 1400px;
    height: 800px;
    max-height: 800px;
    overflow-y: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 400px 800px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .popup-header {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .popup-body {
    flex: 1;
  }
  
  .close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #333;
    border: none;
    background: none;
    outline: none;
  }
  
  /* 팝업 버튼 스타일 */
  .popup-btn {
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px;
    outline: none;
    margin-top: 200%;
  }

footer {
  background-color:darkgray; /* 푸터 배경색 추가 */
  padding: 10px; /* 푸터 내부 여백 추가 */
}

#footerDivider {
  margin-top: 0px; /* 구분선 위 여백 설정 */
  border-top: 1px solid #ddd; /* 1픽셀 높이의 회색 구분선 */
}

#footerText {
  margin-top: 10px;
  justify-content: space-around;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
}
