{% extends "login_base.html" %}
{% block content %}

<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="#">
            <h1>Create Account</h1><br/>
            <input type="text" placeholder="Name"/>
            <input type="email" placeholder="Email"/>
            <input type="password" placeholder="Password"/><br/>
            <button>Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form method="POST" action="{% url 'login:login' %}">
            <h1>회원 로그인</h1><br/>
            {% csrf_token %}
            {% for filed in form %}
            <div class = "form-group">
                <label for = "{{ field.id_for_label }}">{{ field.label }}</label> 
            <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" placeholder="학번 또는 사번" name = "{{ field.name }}"/>
            <input type="password" placeholder="패스워드"/><br/>
            </div>
            {% if field.errors %}                                                              (3)
            <span style="color: red">{{ field.errors }}</span>
            {% endif %}
            {% endfor %}

            <button type = "submit" class="btn btn-primary">로그인</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<br/><br/>

{% endblock %}
