<!DOCTYPE html>
{% load static %}
<html lang="ko">

<script>
    var csrf_token = "{{ csrf_token }}";

    function applyCategoryFilter() {
        var selectedSubcategories = [];

        // Get the current URL
        var currentUrl = window.location.href;

        // Log the URL to the console
        console.log('Current URL:', currentUrl);

        // Iterate over checkboxes and collect selected subcategories
        var checkboxes = document.getElementsByClassName("sub-category-checkbox");
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedSubcategories.push(checkboxes[i].value);
            }
        }
        console.log('selectedSubcategories: ' + selectedSubcategories);

        // Send selectedSubcategories to the server (Django views) using AJAX
        fetch('filter/', {
            method: 'POST',  // Use POST method
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrf_token, // Use the csrf_token variable
            },
            body: JSON.stringify({ sub_categories: selectedSubcategories }),  // Use 'sub_categories' key
        })
            .then(response => response.json())
            .then(data => {
                // Handle the response from the server, if needed
                console.log(data);
            })
            .catch(error => console.error('Error:', error));
    }
</script>


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>팀원 모집 리스트</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'guide/vendor/fontawesome-free/css/all.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'team/css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'team/css/card.css' %}" rel="stylesheet">
    <link href="{% static 'team/css/pagination.css' %}" rel="stylesheet">
    <link href="{% static 'team/css/login.css' %}" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- 사이드바 -->
        <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar"
            style="background-color: rgb(95, 23, 52)">

            <!-- 덕성 홈페이지 -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center"
                href="https://www.duksung.ac.kr/main.do">
                <div class="sidebar-brand-icon">
                    <img src="{% static 'guide/img/duksung_logo.png' %}" style="width: 90%;">
                </div>
                <div class="sidebar-brand-text">
                    <img src="{% static 'guide/img/duksung.png' %}" style="width: 90%;">
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- 메인 화면 -->
            <li class="nav-item active">
                <a class="nav-link" href="/main_page">
                    <i class="fas fa-fw fa-home"></i>
                    <span>메인 화면</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- 딜라이트 간단 안내 -->
            <li class="nav-item active">
                <a class="nav-link" href="/guide">
                    <i class="fas fa-fw fa-search"></i>
                    <span>딜라이트 안내</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- 팀원 모집 -->
            <li class="nav-item active">
                <a class="nav-link" href="/team">
                    <i class="fas fa-fw fa-comment"></i>
                    <span>팀원 모집</span></a>
            </li>

{% for main_category in main_categories %}
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_{{ main_category.slug }}"
            aria-expanded="true" aria-controls="collapse_{{ main_category.slug }}" >
            <i class="fas fa-fw fa-chalkboard-teacher"></i>
<!--            <input class="form-check-input" type="checkbox" value="{{ main_category.slug }}" id="{{ main_category.slug }}_checkbox" onclick="test('{{ main_category.slug }}', event)"{% if main_category.id in selectedCategories.main %}checked{% endif %}>-->
            <span class="category-span">{{ main_category.name }}</span>
        </a>
        <div id="collapse_{{ main_category.slug }}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                {% for sub_category in main_category.subcategory_set.all %}
                    <div class="collapse-item" onclick="applyCategoryFilter()">
                        <input class="sub-category-checkbox" type="checkbox" value="{{ sub_category.id }}" id="{{ sub_category.id }}_checkbox">
                        {{ sub_category.name }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </li>
{% endfor %}

<!--onclick="handleTagClick('{{ main_category.slug }}', event)"-->



            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- 사이드바 끝 -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

            {% include 'team/topbar.html' %}

                {% block content %}
                {% endblock %}



            </div>
            <!-- End of Main Content -->

            <!-- 페이지네이션 -->
        {% include 'team/pagination.html' %}
            <!-- Footer -->
        {% include 'team/footer.html' %}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'guide/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'guide/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'guide/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'guide/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'guide/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'guide/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'guide/js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>