{% extends 'team/base_detail_content.html' %}

{% block head_title %}
    Edit Post
{% endblock %}

{% block detail_content %}
    {% if user.is_authenticated %}
    <h1>Edit Post</h1>
    <hr>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <button type="submit">Submit</button>
    </form>
    {% else %}

<div class="container">
    <div class="row mx-10"><strong>로그인 후에 </strong> 이용할 수 있는 기능입니다.</div>
    </div>
{% endif %}
{% endblock %}