<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
    <form
            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="프로그램 이름으로 검색합니다."
                   aria-label="Search" aria-describedby="basic-addon2" id="search-input">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" style="background-color: rgb(95, 23, 52)" onclick="searchPost();">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
   
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
            <span class="navbar-text mr-2">{{ user.last_name }}{{ user.first_name }} 님</span>
        </li>
        {% endif %}
        <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="btn btn-login" href="{% url 'login:logout' %}?next={{ request.path }}">로그아웃</a>
            {% else %}
            <a class="btn btn-login" href="{% url 'login:login' %}">로그인</a>
            {% endif %}
        </li>
    </ul>
</nav>
<!-- End of Topbar -->

<script>
    function searchPost(){
        let searchValue = document.getElementById('search-input').value.trim();
        if (searchValue.length > 1){
            location.href="/guide/search/" + searchValue + "/";
        }
        else{
            alert('검색어('+ searchValue +')가 너무 짧습니다.');
        }
    };

    document.getElementById('search-input').addEventListener('keyup', function(event){
        if(event.key === 'Enter'){
            searchPost();
        }
    });
</script>